:root {
  --main-color: #323BDF;
  --title-size: 2.2rem;
  --para-size: 1.2rem;
}

header {
  background: var(--main-color);
}

main {
  margin: 30px 0;
}

main .container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  width: 100%;
  padding: 20px;
  background-color: #f7f7f7;
}

.card .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 2px solid #ddd;
}

.card .details .account {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card .details .account img {
  width: 35px;
}

.card .details .account p {
  font-weight: bold;
  font-size: 1rem;
}

.card .text p {
  font-size: 1rem;
  padding: 10px 0;
  border-bottom: 2px solid #ddd;
}

.card .tools {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}

.card .tools div {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s all ease-in-out;
}

.card .tools div i {
  font-size: 1.2rem;
  cursor: pointer;
}

.card .tools .love:hover {
  color: red;
}

.card .tools .favorite:hover {
  color: yellow;
}

.card .tools .reply:hover {
  color: var(--main-color);
}

.comments {
  margin: 15px 0;
  padding: 10px;
  background-color: #eee;
}

.comments .comment {
  margin: 10px 0;
  padding: 10px 0;
}

.comments .comment:not(:last-child) {
  border-bottom: 2px solid #ccc;
}

form {
  display: none;
  flex-direction: column;
}

form.show {
  display: flex;
}

form input {
  padding: 10px;
  margin: 5px 0;
  border: 3px solid var(--main-color);
  border-radius: 5px;
  color: var(--main-color);
  font-weight: bold;
  outline: none;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

form ::placeholder {
  color: var(--main-color);
}

button {
  padding: 10px 25px;
  background-color: var(--main-color);
  color: white;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0;
  border-radius: 5px;
  border: 3px solid var(--main-color);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  width: fit-content;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

button:hover {
  background-color: transparent;
  color: var(--main-color);
}

button a {
  color: white;
  text-decoration: none;
}

button:hover a {
  color: var(--main-color);
}

#Add {
  color: var(--main-color);
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 650px) {
  main .card {
    width: 95%;
    margin: auto;
  }
  #Add {
    font-size: 0.79rem;
  }
  button:first-child {
    margin-left: 10px;
  }
}